<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Fire</key>
	<dict>
		<key>1 million years ago</key>
		<string></string>
	</dict>
	<key>Boat</key>
	<dict>
		<key>8000 B.C.</key>
		<string></string>
	</dict>
	<key>Concrete</key>
	<dict>
		<key>6500 B.C.</key>
		<string></string>
	</dict>
	<key>Wheel</key>
	<dict>
		<key>3500 B.C.</key>
		<string></string>
	</dict>
	<key>Abacus</key>
	<dict>
		<key>3000 B.C.</key>
		<string></string>
	</dict>
	<key>Longbow</key>
	<dict>
		<key>2665 B.C.</key>
		<string></string>
	</dict>
	<key>Iron Processing</key>
	<dict>
		<key>2000 B.C.</key>
		<string></string>
	</dict>
	<key>Alphabet</key>
	<dict>
		<key>1100 B.C.</key>
		<string></string>
	</dict>
	<key>Armor</key>
	<dict>
		<key>300 B.C.</key>
		<string></string>
	</dict>
	<key>Wheelbarrow</key>
	<dict>
		<key>200 B.C.</key>
		<string></string>
	</dict>
	<key>Paper</key>
	<dict>
		<key>105 B.C.</key>
		<string></string>
	</dict>
	<key>Gunpowder</key>
	<dict>
		<key>808</key>
		<string></string>
	</dict>
	<key>Magnetic Compass</key>
	<dict>
		<key>1100</key>
		<string></string>
	</dict>
	<key>Eyeglasses</key>
	<dict>
		<key>1286</key>
		<string></string>
	</dict>
	<key>Firearms</key>
	<dict>
		<key>1300</key>
		<string></string>
	</dict>
	<key>Flush Toilet</key>
	<dict>
		<key>1591</key>
		<string></string>
	</dict>
	<key>Pendulum Clock</key>
	<dict>
		<key>1656</key>
		<string></string>
	</dict>
	<key>Reflecting Telescope</key>
	<dict>
		<key>1668</key>
		<string></string>
	</dict>
	<key>Steam Engine</key>
	<dict>
		<key>1698</key>
		<string></string>
	</dict>
	<key>Bifocal lens</key>
	<dict>
		<key>1784</key>
		<string></string>
	</dict>
	<key>Sewing Machine</key>
	<dict>
		<key>1790</key>
		<string></string>
	</dict>
	<key>Cotton Gin</key>
	<dict>
		<key>1793</key>
		<string></string>
	</dict>
	<key>Vaccines</key>
	<dict>
		<key>1796</key>
		<string></string>
	</dict>
	<key>Battery</key>
	<dict>
		<key>1800</key>
		<string></string>
	</dict>
	<key>Railroad</key>
	<dict>
		<key>1811</key>
		<string></string>
	</dict>
	<key>Bicycle</key>
	<dict>
		<key>1818</key>
		<string></string>
	</dict>
	<key>Electric Motor</key>
	<dict>
		<key>1821</key>
		<string></string>
	</dict>
	<key>Refrigerator</key>
	<dict>
		<key>1834</key>
		<string></string>
	</dict>
	<key>Vulcanization</key>
	<dict>
		<key>1844</key>
		<string></string>
	</dict>
	<key>Airships</key>
	<dict>
		<key>1852</key>
		<string></string>
	</dict>
	<key>Mass-production Steel</key>
	<dict>
		<key>1856</key>
		<string></string>
	</dict>
	<key>Combustion Engine</key>
	<dict>
		<key>1858</key>
		<string></string>
	</dict>
	<key>Vacuum Cleaner</key>
	<dict>
		<key>1860</key>
		<string></string>
	</dict>
	<key>Rapid Fire Firearm</key>
	<dict>
		<key>1862</key>
		<string></string>
	</dict>
	<key>Dynamite</key>
	<dict>
		<key>1867</key>
		<string></string>
	</dict>
	<key>Telephone</key>
	<dict>
		<key>1876</key>
		<string></string>
	</dict>
	<key>Incandescent Light Bulb</key>
	<dict>
		<key>1879</key>
		<string></string>
	</dict>
	<key>Television</key>
	<dict>
		<key>1900</key>
		<string></string>
	</dict>
	<key>Gas-powered Automobil</key>
	<dict>
		<key>1900</key>
		<string></string>
	</dict>
	<key>Motion Picture Camera</key>
	<dict>
		<key>1888</key>
		<string></string>
	</dict>
	<key>Radio</key>
	<dict>
		<key>1869</key>
		<string></string>
	</dict>
	<key>Modern Air Conditioning</key>
	<dict>
		<key>1902</key>
		<string></string>
	</dict>
	<key>Airplanes</key>
	<dict>
		<key>1903</key>
		<string></string>
	</dict>
	<key>Radar</key>
	<dict>
		<key>1904</key>
		<string></string>
	</dict>
	<key>Electric Washing Machine</key>
	<dict>
		<key>1907</key>
		<string></string>
	</dict>
	<key>First Electric Traffic Light</key>
	<dict>
		<key>1912</key>
		<string></string>
	</dict>
	<key>Brassiere</key>
	<dict>
		<key>1914</key>
		<string></string>
	</dict>
	<key>Band Aid</key>
	<dict>
		<key>1921</key>
		<string></string>
	</dict>
	<key>Quartz Clock</key>
	<dict>
		<key>1927</key>
		<string></string>
	</dict>
	<key>Antibiotics</key>
	<dict>
		<key>1928</key>
		<string></string>
	</dict>
	<key>Richter Magnitude Scale</key>
	<dict>
		<key>1935</key>
		<string></string>
	</dict>
	<key>Modern Computer</key>
	<dict>
		<key>1941</key>
		<string></string>
	</dict>
	<key>Nuclear Reactor</key>
	<dict>
		<key>1941</key>
		<string></string>
	</dict>
	<key>Hemodialysis</key>
	<dict>
		<key>1943</key>
		<string></string>
	</dict>
	<key>Microwave Oven</key>
	<dict>
		<key>1945</key>
		<string></string>
	</dict>
	<key>Bikini</key>
	<dict>
		<key>1946</key>
		<string></string>
	</dict>
	<key>Automotive Airbag</key>
	<dict>
		<key>1952</key>
		<string></string>
	</dict>
	<key>Implant of Artificial Organs</key>
	<dict>
		<key>1957</key>
		<string></string>
	</dict>
	<key>Laser</key>
	<dict>
		<key>1958</key>
		<string></string>
	</dict>
	<key>Internet</key>
	<dict>
		<key>1969</key>
		<string></string>
	</dict>
	<key>Cloning</key>
	<dict>
		<key>1970</key>
		<string></string>
	</dict>
	<key>Electronic Mail</key>
	<dict>
		<key>1971</key>
		<string></string>
	</dict>
	<key>Genetic Fingerprinting</key>
	<dict>
		<key>1984</key>
		<string></string>
	</dict>
	<key>World Wide Web</key>
	<dict>
		<key>1989</key>
		<string></string>
	</dict>
</dict>
</plist>
